@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: #202020;
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}
.header {
  border-bottom: solid 10px grey;
  background-color: black;
  height: 44px;
  width: 100%;
  nav {
    height: 100%;
    max-width: 922px;
    display: flex;
    align-items: center;
    margin: auto;
  }
  margin-bottom: 15px;
}
.sidebar {
  user-select: none;
  width: 266px;
  height: 100vh;
  padding-top: 74px;
  border-right: 1px solid grey;
  background-color: lightgrey;
  border-radius: 15px;
  div {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    &.active {
      background-color: grey;
      border-radius: 15px;
    }
    .icon {
      margin-right: 10px;
    }
  }
}
.icon-header {
  color: white;
}
.content {
  display: flex;
  max-width: 922px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.tasks {
  background-color: grey;
  border-radius: 15px;
  padding-left: 15px;
  width: calc(922px - 266px);
  add-task-btn {
    cursor: pointer;
    .plus {
      color: red;
      font-size: 18px;
    }
    .add-task-text {
      font-size: 14px;
      margin-left: 15px;
    }
  }
  .add-task-dialog {
    margin-top: 10px;
    input {
      width: calc(900px - 266px);
      height: 30px;
      border-radius: 5px;
    }
  }
  .add-task-actions-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    .add-btn {
      background-color: black;
      color: white;
      border-radius: 15px;
      font-weight: bold;
      height: 30px;
      border: 1px solid black;
      &:disabled {
        background-color: rgba(0, 0, 0, 0.2);
      }
      &:active {
        transform: scale(0.9);
      }
    }
    .cancel-btn {
      background-color: red;
      color: white;
      border-radius: 15px;
      font-weight: bold;
      height: 30px;
      border: 1px solid red;
      margin-left: 10px;
      width: 80px;
    }
    input {
      width: 100px;
      margin-right: 50px;
    }
  }
}

.tasks-items-container {
  margin-top: 40px;
  padding: 0 20px;
}
.task-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  &:not(:last-child) {
    border-bottom: 1px solid black;
  }
}
